.Content{
    width: 100%;
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    align-content: center;
}

.Intro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}

.Intro > h1{
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 1em;
    text-align: center;
}

@media screen and (max-width: 480px){
    
.Intro > h1{
    font-size: 1.85em;
    margin-top: 1em;
}
}

.Intro > p{
    margin: 0.5em 1em 2em 1em;
    text-align: center;
}

.Card-wrapper{
    justify-content: center;
    width: 100%;
    padding: 1em 18em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em 1em;
}

@media screen and ( max-width: 1080px){
    .Card-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and ( max-width: 768px){
    .Card-wrapper{
        grid-template-columns: 1fr;
        padding: 1em 1em;
    }
}

