.card-wrapper {
    perspective: 600px;
}

.card {
    position: relative;
    width: 400px;
    height: 300px;
    transition-duration:  0.5s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(-180deg);
}

.card-side {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.front {
    z-index: 1;
}

.back {
    transform: rotateY(-180deg)
}

* {
    padding: 0;
    margin: 0;
}

#root {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-side {
    box-shadow: 3px 3px 3px #0002;
}

.card-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    color: white;
    font-size: 28px;
    border: 10px solid white;
    border-radius: 20px;
    text-align: center;   
}

.front {
    background: linear-gradient(90deg, tomato, firebrick);

}

.back {
    background: linear-gradient(90deg, skyblue, slateblue);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin-top: 2em;
}

.button {
    width: 2em;
    background: darkgray;
    color:white;
}

.button:hover {
    background: firebrick;
}