.Card{
    background-color: #fff;
    width: 20em;
    min-height: 23em;
    height: auto;
    border-radius: 0.5em;
    padding: 1.5em;
    margin: 1em 0;
    box-shadow: 0 0.3rem 0.8rem rgba(0,0,0,.12);
}

.Card:hover{
    box-shadow: 0 0.3rem 0.8rem rgba(0,0,0,.24);
}

.Card > .tag {
    display: inline-block;
    border-radius: 0.5em;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--accent-purple-transparent);
    color: var(--accent-purple);
    margin-right: 1em;
}

.Card > .icon{
    height: 4em;
    width: auto;
    opacity: 0.8;
}

.inactive{
    opacity: 0.5;
}
.inactive:hover{
    box-shadow: 0 0.3rem 0.8rem rgba(0,0,0,.12) !important;
}