.flashcard-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: auto;
}

.flashcard-button-wrapper{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flashcard-button-previous, .flashcard-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1em;
    padding: 0.5em;
    border-radius: 3em;
    font-size: 1.5em;
    color: var(--accent-purple);
    border: 2px solid var(--accent-purple);
}

.flashcard{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* adapted from https://www.w3schools.com/howto/howto_css_flip_card.asp */

.flip-card {
  background-color: transparent;
  width: 50em;
  min-width: 20em;
  height: 25em;
  min-height: 23em;
  perspective: 1000px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.12);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  padding: 2em;
  border-radius: 0.5em;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
}

.flip-card-back {
  background-color: #fff;
  transform: rotateY(-180deg);
}
